# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Python Cache
.pytest_cache/
.mypy_cache/

# Environment Variables
.env